* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* width: 100vw; */
}

.main-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.image-container {
    margin: 0;
    display: flex;
    position: relative;
    
}

.image-container:hover {
    transform: scale(1.025);
    z-index: 997;
}

.image-container img {
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.display-image-background {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.display-image-blur {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 998;
    opacity: 0.8;
}

.display-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    z-index: 999;
}

.display-image img {
    display: inline;
    margin: auto;
    height: 100%;
}

.close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
  }

.image-text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    color: aliceblue;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 11.7333px;
  }

.nav-bar-div {
    height: 3rem;
    width: 100%;
    background-color: #34363b;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    padding: 0 1rem;
    font-size: smaller;
    z-index: 998;
}

@media screen and (max-width: 768px) {
    .main-container {
        grid-template-columns: auto ;
    }
    .display-image {
        width: 100%;
        height: auto;
    }
    .display-image img {
        height: auto;
        width: 100%;
    }
}